# Human Freedom and suicide project


## 1. Cleaning the data and making it workable for our purposes

### Data from the Fraser institute EFW

In [4]:
import pandas as pd
import matplotlib.pyplot as plt

efw_data = pd.read_excel("rawfromefw.xlsx")

In [5]:
efw_data.shape

(1134, 72)

In [6]:
efw_data.head()

,Year,ISO_Code,Countries,SUMMARY INDEX,Rank,Quartile,Government Consumption,1A data,Transfers and subsidies,1B data,...,Conscription,Labor market regulations,Administrative requirements,Bureaucracy costs,Starting\na business,Extra payments/bribes/favoritism,Licensing restrictions,Tax compliance,Business regulations,Regulation
0,2016,ALB,Albania,7.54,34.0,1.0,8.232353,12.01,7.509902,9.638659,...,10.0,6.916278,6.072172,6.000000,9.713864,4.050196,7.324582,7.074366,6.705863,6.906901
1,2016,DZA,Algeria,4.99,159.0,4.0,2.150000,32.69,7.817129,8.511137,...,1.0,5.029513,3.722341,1.777778,9.243070,3.765515,8.523503,7.029528,5.676956,5.268992
2,2016,AGO,Angola,5.17,155.0,4.0,7.600000,14.16,8.886739,4.585667,...,0.0,4.560325,2.758428,1.333333,8.664627,1.945540,8.096776,6.782923,4.930271,5.518500
3,2016,ARG,Argentina,4.84,160.0,4.0,5.335294,21.86,6.048930,15.000425,...,10.0,5.151405,2.404211,6.666667,9.122357,3.260044,5.253411,6.508295,5.535831,5.369019
4,2016,ARM,Armenia,7.57,29.0,1.0,7.264706,15.30,7.748532,8.762887,...,0.0,6.234630,4.552464,6.000000,9.846472,4.575152,9.319612,6.491481,6.797530,7.378069

In [7]:
efw_data.tail()

,Year,ISO_Code,Countries,SUMMARY INDEX,Rank,Quartile,Government Consumption,1A data,Transfers and subsidies,1B data,...,Conscription,Labor market regulations,Administrative requirements,Bureaucracy costs,Starting\na business,Extra payments/bribes/favoritism,Licensing restrictions,Tax compliance,Business regulations,Regulation
1129,2010,VEN,Venezuela,3.96,153.0,4.0,7.058824,16.00,5.773842,16.010,...,0.0,3.607189,1.966256,1.818182,6.392500,2.976328,4.706994,0.315142,3.029234,4.188395
1130,2010,VNM,Vietnam,6.33,112.0,3.0,9.076471,9.14,NaN,NaN,...,0.0,5.495878,2.846883,5.909091,8.479925,3.626472,7.459931,0.000000,4.720384,6.614713
1131,2010,YEM,"Yemen, Rep.",6.12,121.0,4.0,8.038235,12.67,7.771117,8.680,...,0.0,5.502918,2.620223,2.121212,8.735527,1.943842,8.917008,7.220087,5.259650,5.773592
1132,2010,ZMB,Zambia,7.35,38.0,1.0,7.452941,14.66,9.910627,0.828,...,10.0,6.339430,4.664358,4.848485,9.135880,4.090830,4.075357,8.520369,5.889213,6.700651
1133,2010,ZWE,Zimbabwe,4.46,151.0,4.0,6.720588,17.15,9.844687,1.070,...,10.0,5.053482,3.519498,2.878788,5.554397,4.547430,0.000000,7.287343,3.964576,4.602499

In [8]:
efw_data.loc[500]

Year                                    2013
ISO_Code                                 BLZ
Countries                             Belize
SUMMARY INDEX                           7.03
Rank                                    71.0
                                      ...
Extra payments/bribes/favoritism    7.306827
Licensing restrictions              9.122033
Tax compliance                      8.352229
Business regulations                6.767817
Regulation                          7.898944
Name: 500, Length: 72, dtype: object

In [9]:
#Standardizing column name
efw_data.rename(columns={'Year': 'year', 'Countries': 'countries'}, inplace=True)

### Data from the Cato institute "Human freedom index"

In [11]:
hfi_data = pd.read_csv("hfi_cc_2018.csv")

In [12]:
hfi_data.shape

(1458, 123)

In [13]:
hfi_data.head()

,year,ISO_code,countries,region,pf_rol_procedural,pf_rol_civil,pf_rol_criminal,pf_rol,pf_ss_homicide,pf_ss_disappearances_disap,...,ef_regulation_business_bribes,ef_regulation_business_licensing,ef_regulation_business_compliance,ef_regulation_business,ef_regulation,ef_score,ef_rank,hf_score,hf_rank,hf_quartile
0,2016,ALB,Albania,Eastern Europe,6.661503,4.547244,4.666508,5.291752,8.920429,10.0,...,4.050196,7.324582,7.074366,6.705863,6.906901,7.54,34.0,7.568140,48.0,2.0
1,2016,DZA,Algeria,Middle East & North Africa,NaN,NaN,NaN,3.819566,9.456254,10.0,...,3.765515,8.523503,7.029528,5.676956,5.268992,4.99,159.0,5.135886,155.0,4.0
2,2016,AGO,Angola,Sub-Saharan Africa,NaN,NaN,NaN,3.451814,8.060260,5.0,...,1.945540,8.096776,6.782923,4.930271,5.518500,5.17,155.0,5.640662,142.0,4.0
3,2016,ARG,Argentina,Latin America & the Caribbean,7.098483,5.791960,4.343930,5.744791,7.622974,10.0,...,3.260044,5.253411,6.508295,5.535831,5.369019,4.84,160.0,6.469848,107.0,3.0
4,2016,ARM,Armenia,Caucasus & Central Asia,NaN,NaN,NaN,5.003205,8.808750,10.0,...,4.575152,9.319612,6.491481,6.797530,7.378069,7.57,29.0,7.241402,57.0,2.0

In [14]:
hfi_data.tail()

,year,ISO_code,countries,region,pf_rol_procedural,pf_rol_civil,pf_rol_criminal,pf_rol,pf_ss_homicide,pf_ss_disappearances_disap,...,ef_regulation_business_bribes,ef_regulation_business_licensing,ef_regulation_business_compliance,ef_regulation_business,ef_regulation,ef_score,ef_rank,hf_score,hf_rank,hf_quartile
1453,2008,VEN,Venezuela,Latin America & the Caribbean,3.000000,3.781688,2.369239,3.1,0.000000,10.0,...,2.784695,4.578318,0.315142,2.864160,4.666936,4.22,140.0,5.257879,136.0,4.0
1454,2008,VNM,Vietnam,South Asia,6.666667,4.349101,5.694847,5.6,9.496239,5.0,...,3.626593,7.306074,0.000000,4.574683,6.307577,6.19,103.0,6.420206,106.0,3.0
1455,2008,YEM,"Yemen, Rep.",Middle East & North Africa,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1456,2008,ZMB,Zambia,Sub-Saharan Africa,4.800000,4.578003,3.688652,4.4,7.878084,10.0,...,4.585391,5.124436,8.520369,6.681524,6.722175,7.15,57.0,6.647724,95.0,3.0
1457,2008,ZWE,Zimbabwe,Sub-Saharan Africa,2.700000,3.991582,4.327660,3.7,7.981019,0.0,...,4.423866,0.000000,6.973482,3.369110,4.488892,4.55,138.0,4.935571,140.0,4.0

In [15]:
hfi_data.loc[500]

year                                          2013
ISO_code                                       BLZ
countries                                   Belize
region               Latin America & the Caribbean
pf_rol_procedural                              NaN
                                 ...
ef_score                                      7.03
ef_rank                                       72.0
hf_score                                  7.085207
hf_rank                                       68.0
hf_quartile                                    3.0
Name: 500, Length: 123, dtype: object

### Data from Kaggle containing suicide metrics

In [59]:
suicide_data = pd.read_csv("master.csv")

In [18]:
suicide_data.shape

(27820, 12)

In [19]:
suicide_data.head()

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers

In [20]:
suicide_data.tail()

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
27815,Uzbekistan,2014,female,35-54 years,107,3620833,2.96,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation X
27816,Uzbekistan,2014,female,75+ years,9,348465,2.58,Uzbekistan2014,0.675,"63,067,077,179",2309,Silent
27817,Uzbekistan,2014,male,5-14 years,60,2762158,2.17,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation Z
27818,Uzbekistan,2014,female,5-14 years,44,2631600,1.67,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation Z
27819,Uzbekistan,2014,female,55-74 years,21,1438935,1.46,Uzbekistan2014,0.675,"63,067,077,179",2309,Boomers

In [21]:
suicide_data.loc[500]

country                   Antigua and Barbuda
year                                     2006
sex                                      male
age                               35-54 years
suicides_no                                 0
population                              12202
suicides/100k pop                         0.0
country-year          Antigua and Barbuda2006
HDI for year                              NaN
 gdp_for_year ($)               1,157,005,444
gdp_per_capita ($)                      14114
generation                            Boomers
Name: 500, dtype: object

In [99]:
#Standardizing column name
suicide_data.rename(columns={'country': 'countries'}, inplace=True)

#Removing age groups from the data, summing up the data across age groups
suicide_data_aggregated = suicide_data.groupby(['countries', 'year', 'sex'], as_index=False).agg({
    'suicides_no': 'sum',
    'population': 'sum',
    'suicides/100k pop': 'mean',
})

#Pivoting the data and creating column for male and female, instead of sex column
suicide_pivot = suicide_data_aggregated.pivot(
    index=['countries', 'year'], 
    columns='sex', 
    values='suicides_no'
).reset_index()

suicide_pivot.rename(columns={'male': 'male_suicides', 'female': 'female_suicides'}, inplace=True)


#Merging aggregated data with other columns of the dataset
columns_to_keep = [col for col in suicide_data.columns if col not in ['age', 'sex', 'suicides_no']]
suicide_data_combined = pd.merge(
    suicide_data[columns_to_keep].drop_duplicates(subset=['countries', 'year']),
    suicide_pivot,
    on=['countries', 'year'],
    how='inner'
)

# Removing unnecessary columns
suicide_data_combined = suicide_data_combined.drop(columns=['generation', 'country-year'])

suicide_data_combined.head()

,countries,year,population,suicides/100k pop,HDI for year,gdp_for_year ($),gdp_per_capita ($),female_suicides,male_suicides
0,Albania,1987,312900,6.71,NaN,"2,156,624,900",796,25,48
1,Albania,1988,36400,5.49,NaN,"2,126,000,000",769,22,41
2,Albania,1989,22500,8.89,NaN,"2,335,124,988",833,15,53
3,Albania,1992,343800,3.49,NaN,"709,452,584",251,14,33
4,Albania,1993,243300,7.40,NaN,"1,228,071,038",437,27,46

In [73]:
print(suicide_data_combined['HDI for year'].isna().sum())

1624

In [101]:
suicide_data_combined = suicide_data_combined.drop(columns=['HDI for year'])

### Uniting the data into one dataframe

In [65]:
merged_data = pd.merge(efw_data, hfi_data, on=['countries', 'year'], how='inner')
merged_data = pd.merge(merged_data, suicide_data_combined, on=['countries', 'year'], how='inner')
merged_data.to_csv("merged_data_with_suicides.csv", index=False)

# Preview the result
print(merged_data.head())

   year ISO_Code countries  SUMMARY INDEX  Rank  Quartile  \
0  2016      ARM   Armenia           7.57  29.0       1.0
1  2016      AUT   Austria           7.58  27.0       1.0
2  2016      HRV   Croatia           6.96  75.0       2.0
3  2016      CYP    Cyprus           7.71  18.0       1.0
4  2016      HUN   Hungary           7.22  59.0       2.0

   Government Consumption  1A data  Transfers and subsidies    1B data  ...  \
0                7.264706    15.30                 7.748532   8.762887  ...
1                3.744118    27.27                 3.101062  25.819102  ...
2                4.438235    24.91                 4.297315  21.428854  ...
3                6.520588    17.83                 6.235337  14.316312  ...
4                3.270588    28.88                 5.291400  17.780562  ...

   hf_score  hf_rank  hf_quartile population  suicides/100k pop HDI for year  \
0  7.241402     57.0          2.0      61956              19.37          NaN
1  8.413474     16.0          1.0     307692              68.90          NaN
2  7.708088     44.0          2.0     134519              77.31          NaN
3  8.112197     30.0          1.0     106925              14.03          NaN
4  7.739473     42.0          2.0     246437              86.84          NaN

    gdp_for_year ($)   gdp_per_capita ($)  female_suicides  male_suicides
0      10,546,135,160                3788               14             53
1     390,799,991,147               46976              295            906
2      51,338,524,831               12905              168            515
3      20,153,871,681               25098                5             31
4     125,816,640,421               13448              446           1315

[5 rows x 200 columns]